
body {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    background-color: black;
    font-family: Arial sans-serif;
    color: white;
}

/*the time text*/
h1 {
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;

    height: 90vh;
    gap: 2vh;
    overflow: scroll;
    overflow-x: hidden;

}

/*scroll bar*/
main::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

main::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Set the color of the scrollbar thumb */
    border-radius: 6px;
}

main::-webkit-scrollbar-track {
    background-color: inherit; /* Set the color of the scrollbar track */
}

/*the time buttons*/
button {
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    background-color: black;
    font-family: Arial sans-serif;
    color: white;
    border: inherit;
    font-size: 40px;
    border-radius: 10px;


}

/*the animation of the buttons*/
main button:not(:disabled):hover {
    transform: scale(1.1);
    background-color: crimson;
}

main button:not(:disabled):hover:active {
    transform: scale(1.1) translateY(.3rem);
}